option_settings:
  - option_name:  RUXIT_TENANT
    value: abc12345
  - option_name: RUXIT_TOKEN
    value: Y0urT0K3N4RUXIT

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_ruxit_install.sh":
    mode: "000755" 
    owner: root 
    group: root 
    source: http://download.ruxit.com/scripts/beanstalk_ruxit_install.sh
